* {
  --corner-radius: 10px;
  --padding: 20px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
}

body {
  margin: 0px;
  color: white;
  font-size: 24px;
}

#mainContainer {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(-45deg, #1ED760, #95FF80, #149643, #23fd71);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

#logo {
  text-align: center;
  font-size: 54px;
  color: transparent;
  -webkit-text-fill-color: transparent;
  background-clip: text !important;
  background: linear-gradient(-45deg, #1ED760 0%, #4CF0A9 25%, #88D4C3 50%, #B6F486 75%, #E6F296 100%);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
}

#connectBox {
  background-color: #181818;
  border-radius: var(--corner-radius);
  padding: calc(var(--padding)*2) calc(var(--padding)*3);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 1));
  width: 400px;
  display: none;
}

#authorizationBox {
  background-color: #181818;
  border-radius: var(--corner-radius);
  padding: calc(var(--padding)*3) calc(var(--padding)*3);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 1));
  width: 400px;
  display: none;
}

#authorizationComplete {
  display: block;
  text-align: center;
  padding-bottom: 40px;
}

button {
  font-size: 24px;
  background-color: #1ED760;
  color: white;
  opacity: 0.8;
  border-width: 0;
  border-radius: var(--corner-radius);
  padding: calc(var(--padding)/2) var(--padding);
  width: 100%;
}

button:hover {
  opacity: 1;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  cursor: inherit;
}

#copyURLButton {
  background-color: #ffffff;
  color: #181818;
  width: 100%;
  transition: all 0.2s ease;
}

#copyURLButton:disabled {
  background-color: #636363;
}

input {
  border-radius: var(--corner-radius);
  width: calc(100% - 20px);
  font-size: 20px;
  margin: 10px 0px;
  padding: 10px 10px;
  background-color: #2b2b2b;
  border-width: 0px;
  color: white;
}

#twitch {
  align-content: center;
}

textarea:focus,
input:focus {
  outline: none;
}

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  transform: scale(1.5);
}